.header {
  background-color: rgb(24, 24, 24);
}

.header-title {
  display: flex;
  padding: 10px 0px 0px 20px;
  font-size: 1.8rem;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.header-lib {
  cursor: pointer;
  margin-top: 30px;
}

.blogger-title {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.gradient {
  color: transparent;
  background: conic-gradient(
    #d9d7f1 12%,
    #baabda 12%,
    #baabda 33%,
    #e7fbbe 33%,
    #e7fbbe 55%,
    #ffcbcb 55%,
    #ffcbcb 70%,
    #b5deff 70%,
    #b5deff 87%,
    #f7d1ba 87%
  );
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: expand-rev 0.5s ease forwards;
  cursor: pointer;
}

.gradient:hover {
  animation: expand 0.5s ease forwards;
}

.blogger-title h2 {
  font-family: "Yellowtail", sans-serif;
  font-size: 4.8rem;
}

.sign-in-btn {
  display: flex;
  justify-content: flex-end;
}

.sign-in-btn button {
  cursor: pointer;
  margin: 20px;
  padding: 8px 12px 8px 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
}

.img-sign-out {
  display: flex;
  flex-direction: column;
}

.pfp {
  margin: 15px;
  border-radius: 50%;
  width: 51px;
  cursor: pointer;
}

#sign-out {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 8px 12px 8px 12px;
  border-radius: 10px;
}

.sign-out-hidden {
  visibility: hidden;
}

.sign-out-visible {
  visibility: visible;
}

@keyframes expand {
  0% {
    background-size: 50%;
    background-position: 0 0;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 325%;
    background-position: -10em -4em;
  }
}

@keyframes expand-rev {
  0% {
    background-size: 325%;
    background-position: -10em -4em;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 50%;
    background-position: 0 0;
  }
}

@media only screen and (max-width: 767px) {
  .blogger-title h2 {
    text-align: center;
    font-size: 3.8rem;
  }
}
