#new-blog-btn{
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(22, 65, 255);
    color: #000000;
    border-radius: 50%;
    font-size: 1.6rem;
    float: right;
    margin: 1px 20px 20px 0px;
}